@import "tailwindcss";

:root {
  --bg-color: #f9f9f9;
  --main-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: var(--bg-color);
}

.dark {
  --bg-color: #000000;
  color: #f9f9f9;
}
