@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-color: #f9f9f9;
  --main-font: "Montserrat", sans-serif;
}

@keyframes bounce-dot {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

body {
  font-family: var(--main-font);
  background-color: var(--bg-color);
}

.dark {
  --bg-color: #121212;
  color: #f9f9f9;
}
